<div class="promo-wrapper">
	<ul class="promo">
		<li>
			<img src="img/promo/personal.jpg" alt="personal">
			<h2>Best personnel for you.</h2>
		</li>
		<li>
			<img src="img/promo/healthy_food.jpg" alt="healthy_food">
			<h2>Only healthy food.</h2>
		</li>
		<li>
			<img src="img/promo/wine.jpg" alt="wine">
			<h2>Unique wine collection.</h2>
		</li>
		<div class="clear-fix"></div>
	</ul>
	<ul class="promo-bottom">
		<li>
			<img src="img/promo/organic.png" alt="organic">
			<p>We use products produced using environmentally and animal friendly farming methods on organic farms.</p>
		</li>
		<li>
			<img src="img/promo/quality_stamp.png" alt="quality">
			<p>Restaurant Royal House is a new high-quality resting-place in the city center.</p>
		</li>
		<li>
			<img src="img/promo/VIP_stamp.png" alt="VIP">
			<p>VIP-hall will attract guests by a pleasant atmosphere, who can understand the real taste of life.</p>
		</li>
	</ul>
</div>