<div class="breadcrumbs" ncy-breadcrumb></div>
<div class="menu-wrapper">
	<div class="menu-choose">
		<ul>
			<li><a ui-sref="menuReg">Regular menu</a>
			<li><a ui-sref="menuBan">Banquet menu</a>
			<li><a ui-sref="menuWine">Wine list</a>
		</ul>
	</div>
	<div class="menu-about">
		<h2>Menus</h2>
		<p>How you choose to eat affects the whole food system. Our old town  restaurant menu reflects the Virginia growing season and features the best hand-fed, farm-raised, organically grown bounty that our region has to offer. We support humane, sustainable and responsible farming practices for the simple fact: local food, raised and produced by people who care, is better. Our menus change daily and reflect the season. Kindly note, these are sample menus. Please call if you would like a current PDF emailed.</p>
	</div>
</div>
